/* Estilo banner */
.banner {
  color: white;
  border-radius: 16px;
  margin: 15px auto 62px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  height: 300px;
  background: #127de7f1 url("../img/banner/backg-banner.png") center/cover no-repeat;
}

.banner-titulo {
  width: 100%;
  max-width: 387px;
  font-size: 36px;
  text-align: center;
  margin-top: 76px;
}

.banner-link {
  text-align: center;
  background-color: #004993;
  width: 100%;
  max-width: 343px;
  height: 58px;
  border-radius: 35px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 40px;
  color: white;
  text-decoration: none;
}

.banner-link>img {
  padding: 5px;
}

/* Estilo dos registros de denúncia */
.registros-titulo,
.rank-titulo {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  font-size: 36px;
  font-weight: bold;
  color: #127CE7;
  box-shadow: 0 10px 10px -10px #DADADA;
}

.registros {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.registros-denuncia {
  width: calc(33.33% - 30px);
  height: 322px;
  text-align: center;
  margin: 30px 0;
  box-shadow: 0 0 5px #DADADA;
  border-radius: 5px;
}

.registros-denuncia-img {
  width: 100%;
  padding: 15px;
}

.registros-denuncia-endereco {
  font-weight: bold;
  color: #127CE7;
}

.registros-denuncia-periodo {
  font-weight: bold;
}

.registros-denuncia-reporte {
  padding-top: 26px;
}

/* Estilo da tabela de ranking */
.rank {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: 67px;
}


.rank-tabela {
  border-collapse: collapse;
  width: 100%;
}


.rank-tabela th {
  text-align: left;
  padding: 8px;
  background-color: #f2f2f2;
}


.rank-tabela td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.rank-tabela-cabecalho-nome {
  width: 380px;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.rank-tabela-cabecalho-denuncia {
  width: 517px;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.rank-tabela-nome {
  text-align: left;
}