/* Importando os arquivos CSS */
@import url('/home/home.css');
@import url('/contato/contato.css');
@import url('/denuncia/denuncia.css');

/* Configuração global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

/* Header */
.navegacao {
  width: 100%;
  height: 80px;
  background-color: #127CE7;
}
.navegacao-navbar {
  color: white;
  display: flex;
  font-size: 19px;
  max-width: 1028px; 
  justify-content: space-between;
  margin: auto;
  padding: 25px 0;
}
.navegacao-logo {
  display: flex;
  align-items: center;
}
.navegacao-logo > img {
  margin-right: 10px; 
}
.navegacao-lista {
  list-style: none;
  display: flex;
}
.navegacao-lista > li > a {
  color: white;
  text-decoration: none;  
  padding: 0 30px;
}

/* Conteúdo central */
.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 1028px; 
  margin: auto;
  padding-bottom: 20px; /* Adicionando padding inferior */
}

/* Footer */
.rodape {
  margin-top: 67px;
  background-color: #127CE7;
  color: #fff;
  width: 100%;
  height: 167px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 19px;
}
.coracao {
  width: 24px;
  height: 24px;
}

/* Media Query para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .navegacao-navbar {
    flex-direction: column;
    align-items: center;
  }
  .navegacao-lista > li > a {
    padding: 10px;
  }
  /* Adicione uma fonte menor para dispositivos móveis */
  .navegacao-navbar,
  .navegacao-lista > li > a,
  .rodape {
    font-size: 16px;
  }
}
