@import url('/home/home.css');
@import url('/contato/contato.css');
@import url('/denuncia/denuncia.css');

/*Configuração global*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

a {
  color: white;
  text-decoration: none;  
}

/*header*/
.navegacao {
  width: 100%;
  height: 80px;
  color: white;
  background-color: #127CE7;
  padding: 25px 0;
}
.navegacao-navbar {
  display: flex;
  font-size: 19px;
  max-width: 1028px; 
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.navegacao-logo{
  display: flex;
  flex-direction: row;
}
.navegacao-logo > img{
  width: 31px;
  height: 31px;
}
.navegacao-lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
.navegacao-lista > li > img {
  width: 24px;
  height: 24px;
}
/*conteudo central*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 1028px; 
  margin: auto;
}

/*footer*/
.rodape {
  background-color: #127CE7;
  color: #fff;
  width: 100%;
  height: 167px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 19px;
}
