/* Estilo do formulário */
.formulario > h1 {
    color: #127CE7;
    font-size: 36px;
    margin-top: 26px;
    margin-bottom: 33px;
}

.linha {
    border: none;
    height: 1px;
    background-color: #DBDBDB;
    margin-bottom: 29px;
    margin-top: 6px;
}

.formulario {
    width: 100%; /* Ajustado para preencher a largura total */
    max-width: 1024px; /* Limitado para uma largura máxima */
    height: auto; /* Em vez de uma altura fixa, definimos como auto para se ajustar ao conteúdo */
    margin: 0 auto;
    font-size: 18px;
}

#container-pai {
    width: 100%; /* Ajustado para preencher a largura total */
    max-width: 1024px; /* Limitado para uma largura máxima */
    height: auto; /* Em vez de uma altura fixa, definimos como auto para se ajustar ao conteúdo */
    border: 2px solid transparent;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 29px;
    margin-bottom: 72px;
}

.container {
    display: inline-block;
    margin-top: 29px;
    margin-left: 30px;
}

.field {
    display: flex;
    flex-direction: column;
}

.fieldinput {
    width: calc(100% - 60px); /* Ajustado para levar em conta o padding e a margem */
    height: 49px;
    border-radius: 6px;
    margin: 9px 0 22px 30px; /* Ajustado para adicionar uma margem esquerda */
    border: thin solid #DBDBDB;
    padding: 10px;
    font-size: 18px;
    color: #A0A0A0;
}

.fieldtextarea2 {
    width: calc(100% - 60px); /* Ajustado para levar em conta o padding e a margem */
    height: 257px;
    margin: 9px 0 22px 30px; /* Ajustado para adicionar uma margem esquerda */
    border-radius: 6px;
    border: thin solid #DBDBDB;
    padding: 10px;
    font-size: 18px;
    resize: none;
}

.labelmensagem,
.fieldinput2 {
    margin-left: 30px;
}

#enviar {
    width: 200px;
    height: 58px;
    background-color: #56AD2D;
    color: #fff;
    margin-top: 53px;
    margin-left: calc(50% - 100px); /* Ajustado para centralizar horizontalmente */
    margin-bottom: 72px;
    border: 2px solid #2E8B02;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
}
